h1{
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		text-align: center;
		margin: 30px 0 0 0;
		color: #EFFBFF;
		font-weight: 400;
		text-transform: uppercase;
	}
	
	body{
		background: #1E2121;
	}
	
	#container{
		width: 800px;
		height: 800px;
		margin: 10px auto;
	}
	
svg {
  width: 1280px;
  height: 800px;
  pointer-events: all;
}

circle {
  fill: #64ABD6;
}

path {
  fill: #aaa;
  stroke: #fff;
}

path:hover {
  stroke: #42484A;
  stroke-width: 2;
  stroke-opacity: 0.5;
}

.tooltip {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	padding: 2px 10px;
	margin: 0;
	background: #373C3C;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #EFFBFF;
}

.tooltip h3 {
	font-size:14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
	padding: 0;
}

.tooltip p {
	font-size: 12px;
	text-align: center;
}

.q0-9 { fill:rgb(247, 252, 253); }
.q1-9 { fill:rgb(229, 245, 249); }
.q2-9 { fill:rgb(204, 236, 230); }
.q3-9 { fill:rgb(153, 216, 201); }
.q4-9 { fill:rgb(102, 194, 164); }
.q5-9 { fill:rgb(65, 174, 118); }
.q6-9 { fill:rgb(35, 139, 69); }
.q7-9 { fill:rgb(0, 109, 44); }
.q8-9 { fill:rgb(0, 68, 27); }

.background {
  fill: none;
  pointer-events: all;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}